.nav {
   grid-area: n; /* Условные имена */
   background-color:burlywood;
 }

.item {
  color:white;
  text-decoration: none;
}

.active {
  color: gold;
  font-size: 20px;
  text-decoration: none;
}